<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="elemento-a">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `elemento-a`
     * Elemento Principal
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementoA extends Polymer.Element {
      static get is() { return 'elemento-a'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'elemento-a'
          }
        };
      }
    }

    window.customElements.define(ElementoA.is, ElementoA);
  </script>
</dom-module>
