<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../elemento-b/elemento-b.html">
<link rel="import" href="../elemento-c/elemento-c.html">


<dom-module id="elemento-a">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>[[title]]</h2>
    <p>Oprime un boton para que te lleve a otra pagina </p>
    <paper-button on-muestra > Boton A</paper-button>
    <paper-button on-click="_muestra"> Boton B</paper-button>

    <template  dom-if="_muestra" if="[[esVisible]]">
      <elemento-b > ELEMENTO B</elemento-b>
    </template>

    <template  dom-if="_muestra" if="[[esVisible]]">
      <elemento-c>ELEMENTO C</elemento-c>
    </template>

  </template>

  <script>
    /**
     * `elemento-a`
     * Elemento Principal
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementoA extends Polymer.Element {
      static get is() { return 'elemento-a'; }
      static get properties() {
        return {
          title: {
            type: String,
            value: 'BIENVENIDO'
          },
          esVisible:{
            type:Boolean,
            value:false,
            // notify:'algo'
          }
        };
      }
      _muestra(){
       console.log('Hace algo')    
      //  this.esVisible=false;  
      //  dispatchEvent('muestra',)
          
      }

      // getElemen(e){
   
      //   e.dispatchEvent('algo',()=>{
      //     this.esVisible=true;
      //   })

      //}

    }


    window.customElements.define(ElementoA.is, ElementoA);
  </script>
</dom-module>
